.footer {
    position: relative;
               
            background-color:white;
            font-family: 'Raleway', sans-serif;    
            
}
       
            
            
            
